<!-- ENCABEZADO -->
<div class="form-floating mx-auto">
  <nav class="navbar navbar-dark bg-primary">
    <div class="mx-auto">
      <span class="navbar-brand mx-auto h1"><h1>PEDIDO</h1></span>
    </div>
  </nav>
    <!-- FORMULARIO  -->


<div class="container-fluid mx-auto"></div>
<div class="container-fluid">
    <label for="exampleFormControlInput1" class="form-label">NOMBRE CLIENTE </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="container-fluid">
    <label for="exampleFormControlTextarea1" class="form-label">NIT</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <div class="container-fluid">
    <label for="exampleFormControlInput1" class="form-label">DIRECCION </label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
  </div>
  <div class="container-fluid">
    <label for="exampleFormControlTextarea1" class="form-label">PRODUCTO</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <div class="container-fluid">
    <label for="exampleFormControlTextarea1" class="form-label">CANTIDAD</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>
  <div class="container-fluid">
    <label for="exampleFormControlTextarea1" class="form-label">PRECIO A PAGAR</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
  </div>

<!-- BOTONES -->
  <div class="vstack gap-2 col-md-5 mx-auto">
    <button type="button" class="btn btn-secondary"> Guardar Pedido</button>
  </div>
  