<!-- ENCABEZADO DE LA PAGINA  -->
<div class="form-floating mb-3">
  <nav class="navbar navbar-dark bg-primary">
    <div class="mx-auto">
      <span class="navbar-brand mb-10 h1"><h1>INGRESE MERCADERIA</h1></span>
    </div>
  </nav>
<!-- FORMLARIO DE INGRESO  -->
  <div class="mx-auto"></div>
  <div class="container-fluid">
      <label for="exampleFormControlInput1" class="form-label">Codigo </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="container-fluid mb-1">
      <label for="exampleFormControlTextarea1" class="form-label">Producto</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="container-fluid mb-1">
      <label for="exampleFormControlInput1" class="form-label">Cantidad </label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="">
    </div>
    <div class="container-fluid mb-1">
      <label for="exampleFormControlTextarea1" class="form-label">Precio Unitario</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="container-fluid mb-1">
      <label for="exampleFormControlTextarea1" class="form-label">Fecha de caducidad</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>
    <div class="container-fluid mb-1">
      <label for="exampleFormControlTextarea1" class="form-label">Farmaceutica</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"></textarea>
    </div>




<div class="vstack gap-2 col-md-5 mx-auto">
    <button type="button" class="btn btn-secondary">Agregar al inventario</button>
    <button type="button" class="btn btn-outline-secondary">Revision</button>
  </div>
